{
  "extends": [
    "airbnb",
    "prettier",
  ],
  "parser": "babel-eslint",
  "plugins": [
    "jest",
    "prettier",
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "prettier/prettier": "error",
  },
   "settings": {
    "react": {
      "pragma": "React",
      "version": "detect",
    },
  },
}
