{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components",
    "stylelint-prettier/recommended",
  ],
  "order/order": [
    "custom-properties",
    "declarations",
  ],
  "plugins": [
    "stylelint-order",
  ],
  "rules": {
    "custom-property-empty-line-before": null,
    "declaration-empty-line-before": null,
    "function-name-case": null,
    "no-duplicate-selectors": null,
    "value-keyword-case": null
  },
}
